{{ range $.Events }}
  <li>
    <a href="/{{ .ID }}">{{ .Title }}</a>
    <span>- {{ .Status.Label}}</span>
    <span style="height: 8px; width: 8px; border-radius: 50%; display: inline-block; background-color: {{ .Status.Color }};"></span>
    {{ if $.IsAdmin }}
      <a href="/{{ .ID }}/edit">({{ "edit" | translate }})</a>
      <a href="" 
        hx-target="body" 
        hx-delete="/{{ .ID }}" 
        hx-confirm='{{ "Are you sure?" | translate }}'>
        ({{ "delete" | translate }})
      </a>
    {{ end }}
  </li>
{{ end }}
