<div hx-target="this" hx-swap="outerHTML">
  <h2>{{ "Guests" | translate }}</h2>
  {{ if .Event.Participations }} 
    <ul>
      {{ range $part := .Event.Participations }}
        <li>
          <span>{{ $part.Guest.Name }}:</span>
          {{ range $id, $label := $.AssistText }}
            <a href="" 
              hx-put='/{{ $.Event.ID }}/participation' 
              hx-vals='{ "guest": {{ $part.Guest.ID }}, "assist": {{ $id }} }'
              hx-confirm='{{ "Are you sure?" | translate }}'>
              {{ if eq $part.Assist $id }}
                <strong>{{ $label | translate }}</strong>
              {{ else }}
                {{ $label | translate }}
              {{ end }}
            </a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ "No guests" | translate }}</p>
  {{ end }}
</div>
