{{ define "title" }}{{ "Add an event" | translate }}{{ end }}

<form action="/new" method="post">
  {{ with .Form }}
    <div>
      <label for="title">{{ "Title" | translate }}</label>
      <input type="text" name="title" value='{{ .Get "title" }}' required />
      {{ with .Error "title" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="desc">{{ "Description" | translate }}</label>
      <textarea name="desc" rows="4" cols="50"></textarea>
    </div>
    <div>
      <label for="status">{{ "Status" | translate }}</label>
      <select name="status">
        {{ range $.Statuses }}
          <option value="{{ .ID }}">{{ .Label }}</option>
        {{ end }}
      </select>
    </div>
    <div>
      <input type="submit" value='{{ "Create" | translate }}' />
    </div>
  {{ end }}
</form>
