{{ define "title" }}{{ "Add an event" | translate }}{{ end }}

{{ define "head" }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.css">
  <style>
    trix-toolbar .trix-button-group--file-tools { display: none; }
    trix-toolbar .trix-button-group--history-tools { display: none; }
  </style>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.js"></script>
{{ end }}

<form action="/new" method="post">
  <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
  {{ with $.Form }}
    <div>
      <label for="title">{{ "Title" | translate }}</label>
      <input type="text" name="title" value='{{ .Get "title" }}' required />
      {{ with .Error "title" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="date">{{ "Date" | translate }}</label>
      <input type="date" name="date" value='{{ .Get "date" }}' required />
      {{ with .Error "date" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="time">{{ "Time" | translate }}</label>
      <input type="time" name="time" value='{{ .Get "time" }}' required />
      {{ with .Error "time" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="description">{{ "Description" | translate }}</label>
      <input id="description" type="hidden" name="description">
      <trix-editor input="description"></trix-editor>
    </div>
    <div>
      <label for="status">{{ "Status" | translate }}</label>
      <select name="status">
        {{ range $.Statuses }}
          <option value="{{ .ID }}">{{ .Label }}</option>
        {{ end }}
      </select>
      {{ with .Error "status" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <input type="submit" value='{{ "Create" | translate }}' />
    </div>
  {{ end }}
</form>
