{{ define "title" }}{{ "Event" | translate }} - {{ $.Event.Title }}{{ end }}

<h2>{{ $.Event.Title }}</h2>

<div>
  {{ "Status" | translate }} {{ $.Event.Status.Label }}
  <span style="height: 8px; width: 8px; border-radius: 50%; display: inline-block; background-color: {{ $.Event.Status.Color }};"></span>
</div>

<div class="rounded-xl shadow-sm ring-1 ring-gray-300">
  <div class="flex items-center p-6">
    <dt class="w-2/5">{{ "Start date" | translate }}</dt>
    <dd>{{ $.Event.StartsAt | humanDate }}</dd>
  </div>
  <div class="flex items-center p-6">
    <dt class="w-2/5">{{ "Start time" | translate }}</dt>
    <dd>{{ $.Event.StartsAt | humanTime }}</dd>
  </div>

  {{ if $.Event.EndsAt.Valid }}
    <div class="flex items-center p-6">
      <dt class="w-2/5">{{ "End date" | translate }}</dt>
      <dd>{{ $.Event.EndsAt.Time | humanDate }}</dd>
    </div>
    <div class="flex items-center p-6">
      <dt class="w-2/5">{{ "End time" | translate }}</dt>
      <dd>{{ $.Event.EndsAt.Time | humanTime }}</dd>
    </div>
  {{ end }}
</div>

{{ if $.Event.Description.Valid }}{{ $.Event.Description.String | safe }}{{ end }}

<turbo-frame id="participations">
  <h2>{{ "Guests" | translate }}</h2>
  {{ if or $.Event.Participations $.CurrentParticipation }} 
    <ul>
      {{ if $.CurrentParticipation }}
        <li>
          <span>{{ $.CurrentParticipation.Guest.Name }}</span>
          <form method="put" action='/{{ $.Event.ID }}/participation/{{ $.CurrentParticipation.Guest.ID }}' 
            data-turbo-confirm='{{ "Are you sure?" | translate }}'
            x-data @change="$el.requestSubmit()"
            class="inline">

            <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">

            {{ range $id, $label := $.AttendText }}
              <input type="radio" name="attend" value="{{ $id }}" 
                {{ if and $.CurrentParticipation.Attend.Valid (eq $.CurrentParticipation.Attend.Int64 $id) }} checked {{ end }}
                {{ if or $.IsAdmin $.Event.Upcoming }} enabled {{ else }} disabled {{ end }}>
              <label>{{ $label | translate }}</label> 
            {{ end }}

            <noscript>
              <input type="submit" value='{{ "Update" | translate }}'>
            </noscript>
          </form>
        </li>
      {{ end }}

      {{ range $part := $.Event.Participations }}
        <li>
          <span>{{ $part.Guest.Name }}:</span>
          <form method="put" action='/{{ $.Event.ID }}/participation/{{ $part.Guest.ID }}' 
            data-turbo-confirm='{{ "Are you sure?" | translate }}'
            x-data @change="$el.requestSubmit()"
            class="inline">

            <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">

            {{ range $id, $label := $.AttendText }}
              <input type="radio" name="attend" value="{{ $id }}" 
                {{ if and $part.Attend.Valid (eq $part.Attend.Int64 $id) }} checked {{ end }} 
                {{ if $.IsAdmin }} enabled {{ else }} disabled {{ end }}>
              <label>{{ $label | translate }}</label> 
            {{ end }}

            {{ if or $.IsAdmin (eq $part.Guest.ID $.CurrentGuest.ID) }}
              <noscript>
                <input type="submit" value='{{ "Update" | translate }}'>
              </noscript>
            {{ end }}
          </form>
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ "No guests" | translate }}</p>
  {{ end }}
</turbo-frame>
