{{ define "title" }}{{ "List of events" | translate }}{{ end }}

{{ define "head" }}
  <!-- make sure the page is not cached when coming back from event that has been changed -->
  <meta name="turbo-cache-control" content="no-cache">
{{ end }}

<form method="get" action="/" data-turbo-frame="events" x-data @change="$el.requestSubmit()" @input.debounce.500ms="$el.requestSubmit()">
  {{ with $.Form }}
    <div class="flex justify-center pt-5">
      <div class="flex md:w-1/2 flex-col items-center gap-y-6">
        <img class="w-1/2 md:w-1/3 ml-auto mr-auto" src='/assets/{{ globals.Logo }}'>

        <div class="md:w-2/3 bg-white items-center flex border border-gray-200 rounded-full p-3 shadow text-md">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          <input type="search" name="q" 
            value='{{ .Get "q" }}' 
            placeholder='{{ "Filter events from title" | translate }}'
            autocomplete="off" autofocus
            class="px-3 outline-none w-full"
            x-init="$el.setSelectionRange($el.value.length, $el.value.length)">
        </div>

        <div class="flex justify-center items-center flex-col bg-gray-100">
          <label class="relative flex justify-between items-center group text-md">
            {{ "See past events" | translate }}
            <input type="checkbox" name="past" class="absolute left-1/2 -translate-x-1/2 w-full h-full peer appearance-none rounded-md" {{ if eq (.Get "past") "on" }} checked {{ end }}/>
            <span class="toggle"></span>
          </label>
        </div>
      </div>
    </div>
  {{ end }}
</form>

<turbo-frame id="events" data-turbo-action="replace" target="_top">
  <div class="mt-10">
    {{ if $.Events }}
      <table class="min-w-full border-0 rounded-none shadow-none md:rounded-lg md:shadow overflow-hidden block md:table text-left">
        <thead class="hidden md:table-header-group">
          <tr class="bg-white">
            <th class="px-5 py-3 text-gray-900 border-b border-gray-200 text-sm uppercase font-normal">{{ "Date" | translate }}</th>
            <th class="px-5 py-3 text-gray-900 border-b border-gray-200 text-sm uppercase font-normal">{{ "Title" | translate }}</th>
            <th class="px-5 py-3 text-gray-900 border-b border-gray-200 text-sm uppercase font-normal">{{ "Status" | translate }}</th>
            <th class="px-5 py-3 text-gray-900 border-b border-gray-200 text-sm uppercase font-normal">{{ "Participation" | translate }}</th>
          </tr>
        </thead>
        <tbody class="flex flex-col gap-y-10 md:table-row-group">
          {{ range $.Events }}
            <tr class="bg-white rounded-lg shadow block md:table-row cursor-pointer hover:bg-gray-200" x-data @click="window.location.href='/{{ .ID }}'">
              <td class="px-5 py-5 border-b border-gray-200 text-sm flex md:table-cell">
                <span class="inline-block w-1/3 md:hidden font-bold truncate">{{ "Date" | translate }}</span>
                <span class="w-2/3">{{ .StartsAt | format globals.AsDate }}</span>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 text-sm flex md:table-cell">
                <span class="inline-block w-1/3 md:hidden font-bold truncate">{{ "Title" | translate }}</span>
                <span class="w-2/3">{{ .Title }}</span>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 text-sm flex md:table-cell">
                <span class="w-1/3 inline-block md:hidden font-bold truncate">{{ "Status" | translate }}</span>
                <span class="px-2 py-2 text-xs whitespace-nowrap rounded-full text-white" style="background-color: {{ .Status.Color }};">{{ .Status.Label }}</span>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 text-sm flex md:table-cell">
                <span class="inline-block w-1/3 md:hidden font-bold truncate">{{ "Participation" | translate }}</span>
                {{ if globals.CurrentGuest }}
                  {{ $part := .ExtractParticipation globals.CurrentGuest }}
                  {{ if $part.Attend.Valid }}
                    <span class="w-2/3">{{ index $.AttendText $part.Attend.Int64 | translate }}</span>
                  {{ end }}
                {{ end }}
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    {{ else }}
      <p>{{ "No events" | translate }}</p>
    {{ end }}
  </div>
</turbo-frame>

{{ if globals.IsAdmin }}
  <div class="w-full flex justify-center my-10">
    <a href="/new" class="btn">{{ "New event" | translate }}</a>
  </div>
{{ end }}
