{{ define "title" }}{{ "List of events" | translate }}{{ end }}

<form method="get" action="/" data-turbo-frame="events" x-data @change="$el.requestSubmit()" @input.debounce.500ms="$el.requestSubmit()">
  {{ with $.Form }}
    <input type="search" name="q" 
      value='{{ .Get "q" }}' 
      autocomplete="off" 
      autofocus>

    <div>
      <input type="checkbox" name="past" {{ if eq (.Get "past") "true" }} checked {{ end }}>
      <label>{{ "See past events" | translate }}</label>
    </div>

    <noscript>
      <input type="submit" value='{{ "Search" | translate }}'>
    </noscript>
  {{ end }}
</form>

<turbo-frame id="events" target="_top">
  {{ if $.Events }}
    <ul>
      {{ range $.Events }}
        <li>
          <a href="/{{ .ID }}">{{ .StartsAt | format globals.AsDate }} - {{ .Title }}</a>
          <span>- {{ .Status.Label}}</span>
          <span style="height: 8px; width: 8px; border-radius: 50%; display: inline-block; background-color: {{ .Status.Color }};"></span>
          {{ if globals.CurrentGuest }}
            {{ $part := .ExtractParticipation globals.CurrentGuest }}
            {{ if $part.Attend.Valid }}<span>- {{ index $.AttendText $part.Attend.Int64 | translate }}</span>{{ end }}
          {{ end }}
          {{ if globals.IsAdmin }}
            <a href="/{{ .ID }}/edit">({{ "edit" | translate }})</a>
            <a href="/{{ .ID }}" data-turbo-method="delete" data-turbo-confirm='{{ "Are you sure?" | translate }}'>({{ "delete" | translate }})</a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ "No events" | translate }}</p>
  {{ end }}
</turbo-frame>

{{ if globals.IsAdmin }}<a href="/new">{{ "New event" | translate }}</a>{{ end }}
