{{ define "title" }}{{ "List of events" | translate }}{{ end }}

{{ if .Events }}
  <ul>
    {{ range .Events }}
      <li>
        <a href="/{{ .ID }}">{{ .Title }}</a>
        <a href="/{{ .ID }}/edit">({{ "edit" | translate }})</a>
        <a href=""
          hx-delete="/{{ .ID }}"
          hx-confirm='{{ "Are you sure?" | translate }}'
          hx-target="main">
          ({{ "delete" | translate }})
        </a>
      </li>
    {{ end }}
  </ul>
{{ else }}
  <p>{{ "No events" | translate }}</p>
{{ end }}

<a href="/new">{{ "New event" | translate }}</a>
