{{ define "title" }}{{ "Event" | translate }} - {{ $.Event.Title }}{{ end }}

{{ define "head" }}{{ partial "events/trix" . }}{{ end }}

<form action="/{{ $.Event.ID }}/edit" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf }}">
  {{ with $.Form }}
    <div>
      <label>{{ "Title" | translate }} <span class="text-red-500">*</span></label>
      <input type="text" name="title" value='{{ .Get "title" }}' required />
      {{ with .Error "title" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label>{{ "Start date" | translate }} <span class="text-red-500">*</span></label>
      <input type="date" name="startdate" value='{{ .Get "startdate" }}' required />
      {{ with .Error "startdate" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label>{{ "Start time" | translate }} <span class="text-red-500">*</span></label>
      <input type="time" name="starttime" value='{{ .Get "starttime" }}' required />
      {{ with .Error "starttime" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label>{{ "End date" | translate }}</label>
      <input type="date" name="enddate" value='{{ .Get "enddate" }}' />
      {{ with .Error "enddate" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label>{{ "End time" | translate }}</label>
      <input type="time" name="endtime" value='{{ .Get "endtime" }}' />
      {{ with .Error "endtime" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label>{{ "Description" | translate }}</label>
      <input id="description" type="hidden" name="description" value='{{ .Get "description" }}'>
      <trix-editor input="description"></trix-editor>
    </div>
    <div>
      <label>{{ "Status" | translate }}</label>
      <select name="status">
        {{ range $.Statuses }}
          <option value="{{ .ID }}" {{ if eq .ID $.Event.StatusID }} selected="selected" {{ end }}>{{ .Label }}</option>
        {{ end }}
      </select>
      {{ with .Error "status" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <input type="submit" value='{{ "Save" | translate }}' />
    </div>
  {{ end }}
</form>
