{{ define "title" }}{{ "Event" | translate }} - {{ $.Event.Title }}{{ end }}

{{ define "head" }}{{ template "events/trix" . }}{{ end }}

<form action="/{{ $.Event.ID }}/edit" method="post">
  <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
  {{ with $.Form }}
    <div>
      <label for="title">{{ "Title" | translate }}</label>
      <input type="text" name="title" value='{{ .Get "title" }}' required />
      {{ with .Error "title" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="date">{{ "Date" | translate }}</label>
      <input type="date" name="date" value='{{ .Get "date" }}' required />
      {{ with .Error "date" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="time">{{ "Time" | translate }}</label>
      <input type="time" name="time" value='{{ .Get "time" }}' required />
      {{ with .Error "time" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="description">{{ "Description" | translate }}</label>
      <input id="description" type="hidden" name="description" value='{{ .Get "description" }}'>
      <trix-editor input="description"></trix-editor>
    </div>
    <div>
      <label for="status">{{ "Status" | translate }}</label>
      <select name="status">
        {{ range $.Statuses }}
          <option value="{{ .ID }}" {{ if eq .ID $.Event.StatusID }} selected="selected" {{ end }}>{{ .Label }}</option>
        {{ end }}
      </select>
      {{ with .Error "status" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <input type="submit" value='{{ "Save" | translate }}' />
    </div>
  {{ end }}
</form>
