{{ define "title" }}{{ "Event" | translate }} - {{ .Event.Title }}{{ end }}

<form action="/{{ .Event.ID }}/edit" method="post">
  {{ with .Form }}
    <div>
      <label for="title">{{ "Title" | translate }}</label>
      <input type="text" name="title" value='{{ .Get "title" }}' required />
      {{ with .Error "title" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="desc">{{ "Description" | translate }}</label>
      <textarea name="desc" rows="4" cols="50">{{ .Get "desc" }}</textarea>
    </div>
    <div>
      <label for="status">{{ "Status" | translate }}</label>
      <select name="status">
        {{ range $.Statuses }}
          <option value="{{ .ID }}" {{ if eq .ID $.Event.StatusID }}selected="selected"{{ end }}>{{ .Label }}</option>
        {{ end }}
      </select>
    </div>
    <div>
      <input type="submit" value='{{ "Save" | translate }}' />
    </div>
  {{ end }}
</form>
