<!DOCTYPE html>
<html lang="{{ $.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content="{{ $.CSRFToken }}" />

    <title>{{ template "title" . }} - Tdispo</title>

    <script src="https://unpkg.com/@hotwired/turbo@7.x.x/dist/turbo.es2017-umd.js"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <link href='/{{ hashName "assets/tailwind.css" }}' rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css">
    <link rel="icon" href='/{{ hashName "assets/favicon.ico" }}'>

    {{ block "head"  . }}{{ end }}
  </head>

  <body class="prose">
    {{ partial "layouts/header" . }}
    {{ partial "layouts/nav" . }}
    {{ partial "layouts/flash" . }}

    <main class="container mx-auto px-4">
      {{ template "main" . }}
    </main>
  </body>
</html>
