{{ define "title" }}{{ "Add a status" | translate }}{{ end }}

<form action="/status/new" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf }}">
  {{ with $.Form }}
    <div>
      <label>{{ "Label" | translate }} <span class="text-red-500">*</span></label>
      <input type="text" name="label" value='{{ .Get "label" }}' required />
      {{ with .Error "label" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label>{{ "Color" | translate }} <span class="text-red-500">*</span></label>
      <input type="color" name="color" value='{{ .Get "color" }}' required />
      {{ with .Error "color" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <input type="submit" value='{{ "Create" | translate }}' />
    </div>
  {{ end }}
</form>
