{{ define "title" }}{{ "Configuration of statuses" | translate }}{{ end }}

{{ if .Statuses }}
  <ul>
    {{ range .Statuses }}
      <li>
        <span>{{ .Label }}</span>
        <span style="height: 8px; width: 8px; border-radius: 50%; display: inline-block; background-color: {{ .Color }};"></span>
        <a href="" 
          hx-target="body" 
          hx-delete="/status/{{ .ID }}" 
          hx-confirm='{{ "Are you sure?" | translate }}'>
          ({{ "delete" | translate }})
        </a>
      </li>
    {{ end }}
  </ul>
{{ else }}
  <p>{{ "No statuses" | translate }}</p>
{{ end }}

<a href="/status/new">{{ "New status" | translate }}</a>
