{{ define "base" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>{{ template "title" . }} - PCBB</title>
      <script src="https://unpkg.com/alpinejs" defer></script>
    </head>

    <body>
      <header>
        <h1><a href="/">TDispo</a></h1>
      </header>

      <nav>
        <div>
          <a href="/">{{ "Home" | translate }}</a>
          <a href="/events">{{ "Events" | translate }}</a>
          <a href="/guests">{{ "Guests" | translate }}</a>
          <a href="/status">{{ "Statuses" | translate }}</a>
        </div>
      </nav>

      <main>
        <h1>{{ template "title" . }}</h1>
        {{ template "main" . }}
      </main>

      <script>
        async function api(endpoint, req) {
          const headers = {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
          }
          req = req || {}
          const resp = await fetch(`/api/${endpoint}`, { 
            method: 'POST',
            headers: headers,
            body: JSON.stringify(req)
          })
          return resp.json().then(json => {
            if (json.errors) {
              throw new Error(json.errors)
            }
            return json
          })
        }
      </script>
    </body>
  </html>
{{ end }}
