{{ template "base" . }}

{{ define "title" }}{{ "Add an event" | translate }}{{ end }}

{{ define "main" }}
  <form action="/new" method="post">
    <div>
      <label for="title">{{ "Title" | translate }}</label>
      <input type="text" name="title" required />
    </div>
    <div>
      <label for="desc">{{ "Description" | translate }}</label>
      <textarea name="desc" rows="4" cols="50"></textarea>
    </div>
    <div>
      <label for="status">{{ "Status" | translate }}</label>
      <select name="status">
        {{ range .Statuses }}
          <option value="{{ .ID }}">{{ .Label }}</option>
        {{ end }}
      </select>
    </div>
    <div>
      <input type="submit" value='{{ "Create" | translate }}' />
    </div>
  </form>
{{ end }}
