{{ template "base" . }}

{{ define "title" }}{{ "Event" | translate }} - {{ .Event.Title }}{{ end }}

{{ define "main" }}
  <p>{{ .Event.Desc | markdown }}</p>
  <p>Statut : {{ .Event.Status.Label }}</p>

  <div x-data="participations">
    <h2>{{ "Guests" | translate }}</h2>
    <ul x-show="answered.length">
      <template x-for="participation in answered">
        <li>
          <span x-text="participation.guest.name"></span>
          <a href="" @click.prevent="participate(event_id, participation.guest.id, 0)">{{ "delete" | translate }}</a>
        </li>
      </template>
    </ul>
    <p x-show="!answered.length">{{ "No guests" | translate }}</p>

    <h2>{{ "Yet to participate" | translate }}</h2>
    <ul x-show="pending.length">
      <template x-for="guest in pending">
        <li>
          <span x-text="guest.name"></span>
          <a href="" @click.prevent="participate(event_id, guest.id, 2)">{{ "participate" | translate }}</a>
        </li>
      </template>
    </ul>
    <p x-show="!pending.length">{{ "No guests" | translate }}</p>
  </div>

  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.data('participations', () => ({
        event_id: {{ .Event.ID }},
        answered: {{ .AnsweredJS }},
        pending: {{ .PendingJS }},

        participate(event_id, guest_id, assist) {
          api('participate', { event_id: event_id, guest_id: guest_id, assist: assist })
            .then(() => console.log("do something"))
            .catch(err => console.log(err)) // use flash
        }
      }))
    })
  </script>
{{ end }}
