{{ template "base" . }}

{{ define "title" -}} Événement - {{ .Event.Title }} {{- end }}

{{ define "main" }}
  <p>{{ .Event.Desc | markdown }}</p>
  <p>Statut : {{ .Event.Status.Label }}</p>

  <h2>Participations</h2>
  {{ if .Event.Participations }}
    <ul>
      {{ range .Event.Participations }}
        <li>{{ .Guest.Name }}</li>
      {{ end }}
    </ul>
  {{ else }}
    <p>Pas de participation</p>
  {{ end }}

  <h2>En attente de participation</h2>
  {{ if .Event.YetToParticipate .Guests }}
    <ul id="yetToParticipate" data-event-id="{{ .Event.ID }}">
      {{ range .Event.YetToParticipate .Guests }}
        <li>
          {{ .Name }} <a class="participate" data-guest-id="{{ .ID }}">participer</a>
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>Tout le monde a participé</p>
  {{ end }}

  <script>
    const yetToParticipate = document.getElementById("yetToParticipate")
    yetToParticipate.addEventListener( "click", function(event) {
      const target = event.target;
      if (target.matches("a.participate")) {
        event.preventDefault();
        participate(yetToParticipate.dataset.eventId, target.dataset.guestId);
      }
    })

    async function participate(eventId, guestId) {
      try {
        const resp = await fetch(`/events/${eventId}/participate/${guestId}`, { method: "POST" })
        if (!resp.ok) {
          throw `server error: http code ${resp.status}`;
        }

        window.location.replace(`/events/${eventId}`);
      } catch (error) {
        console.log(error);
      }
    }
  </script>
{{ end }}
