{{ template "base" . }}

{{ define "title" }}{{ "Event" | translate }} - {{ .Event.Title }}{{ end }}

{{ define "main" }}
  <p>{{ .Event.Desc | markdown }}</p>
  <p>Statut : {{ .Event.Status.Label }}</p>

  <h2>{{ "Guests" | translate }}</h2>
  {{ if .Event.Answered }}
    <ul>
      {{ range .Event.Answered }}
        <li>{{ .Guest.Name }}</li>
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ "No guests" | translate }}</p>
  {{ end }}

  <h2>{{ "Yet to participate" | translate }}</h2>
  {{ if .Event.Pending }}
    <ul>
      {{ range .Event.Pending }}
        <li>{{ .Name }}</li>
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ "No guests" | translate }}</p>
  {{ end }}
{{ end }}
