{{ template "base" . }}

{{ define "title" }}{{ "List of events" | translate }}{{ end }}

{{ define "main" }}
  <div x-data="events">
    <ul x-show="list.length">
      <template x-for="event in list">
        <li>
          <span x-text="event.title"></span>
          <a x-bind:href="editLink(event.id)">({{ "edit" | translate }})</a>
          <a href="" @click.prevent="await deleteEvent(guest.id)">({{ "delete" | translate }})</a>
        </li>
      </template>
    </ul>
    <p x-show="!list.length">{{ "No events" | translate }}</p>
  </div>

  <a href="/events/new">{{ "New event" | translate }}</a>

  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.data('events', () => ({
        list: {{ .EventsJS }},

        editLink(id) {
          return '/events/' + id + '/edit'
        },

        async deleteEvent(id) {
          await api('deleteEvent', { id: id })
            .then(this.list = this.list.filter(event => event.id !== id))
            .catch(err => console.log(err)) // use flash
        }
      }))
    })
  </script>
{{ end }}
