{{ template "base" . }}

{{ define "title" }}{{ "Configuration of statuses" | translate }}{{ end }}

{{ define "main" }}
  <p>{{ "List of statuses" | translate }}</p>

  <div x-data="statuses">
    <ul x-show="list.length">
      <template x-for="status in list">
        <li>
          <span x-text="status.label"></span>
          <a href="" @click.prevent="deleteStatus(status.id)">({{ "delete" | translate }})</a>
        </li>
      </template>
    </ul>
    <p x-show="!list.length">{{ "No statuses" | translate }}</p>
  </div>

  <a href="/status/new">{{ "New status" | translate }}</a>

  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.data('statuses', () => ({
        list: {{ .StatusesJS }},

        deleteStatus(id) {
          api('deleteStatus', { id: id })
            .then(() => this.list = this.list.filter(status => status.id !== id))
            .catch(err => console.log(err)) // use flash
        }
      }))
    })
  </script>
{{ end }}
