{{ template "base" . }}

{{ define "title" }}{{ "List of events" | translate }}{{ end }}

{{ define "main" }}
  {{ if .Events }}
    <ul id="events">
      {{ range .Events }}
        <li>
          <a href="/events/{{ .ID }}">{{ .Title }}</a> (<a href="/events/{{ .ID }}/edit">modifier</a>, <a href="" class="delete" data-event-id="{{ .ID }}">{{ "delete" | translate }}</a>)
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ "No events" | translate }}</p>
  {{ end }}

  <a href="/events/new">{{ "New event" | translate }}</a>

  <script>
    const events = document.getElementById("events")
    events.addEventListener("click", function(event) {
      const target = event.target;
      if (target.matches("a.delete")) {
        event.preventDefault();
        deleteEvent(target.dataset.eventId);
      }
    })

    async function deleteEvent(eventId) {
      try {
        const resp = await fetch(`/events/${eventId}`, { method: "DELETE" })
        if (!resp.ok) {
          throw `server error: http code ${resp.status}`;
        }

        window.location.replace("/events");
      } catch (error) {
        console.log(error);
      }
    }
  </script>
{{ end }}
