{{ template "base" . }}

{{ define "title" }}{{ "Configuration of statuses" | translate }}{{ end }}

{{ define "main" }}
<p>{{ "List of statuses" | translate }}</p>

  {{ if .Statuses }}
    <ul id="statuses">
      {{ range .Statuses }}
        <li>
          {{ .Label }} (<a href="" class="delete" data-status-id="{{ .ID }}">{{ "delete" | translate }}</a>)
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ "No statuses" | translate }}</p>
  {{ end }}

  <a href="/status/new">{{ "New status" | translate }}</a>

  <script>
    const statuses = document.getElementById("statuses")
    statuses.addEventListener("click", function(event) {
      const target = event.target;
      if (target.matches("a.delete")) {
        event.preventDefault();
        deleteStatus(target.dataset.statusId);
      }
    })

    async function deleteStatus(statusId) {
      try {
        const resp = await fetch(`/status/${statusId}`, { method: "DELETE" })
        if (!resp.ok) {
          throw `server error: http code ${resp.status}`;
        }

        window.location.replace("/status");
      } catch (error) {
        console.log(error);
      }
    }
  </script>
{{ end }}
