{{ template "base" . }}

{{ define "title" }}{{ "Configuration of guests" | translate }}{{ end }}

{{ define "main" }}
  <p>{{ "List of guests" | translate }}</p>

  <div x-data="guests" x-cloak>
    <ul x-show="list.length">
      <template x-for="guest in list">
        <li>
          <span x-text="guest.name"></span>
          <span x-text="guest.email"></span>
          <a x-bind:href="editLink(guest.id)">({{ "edit" | translate }})</a>
          <a href="" @click.prevent="deleteGuest(guest.id)">({{ "delete" | translate }})</a>
        </li>
      </template>
    </ul>
    <p x-show="!list.length">{{ "No guests" | translate }}</p>
  </div>

  <a href="/guests/new">{{ "New guest" | translate }}</a>

  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.data('guests', () => ({
        list: {{ .GuestsJS }},

        editLink(id) {
          return '/guests/' + id + '/edit'
        },

        deleteGuest(id) {
          api('deleteGuest', { id: id })
            .then(() => this.list = this.list.filter(guest => guest.id !== id))
            .catch(err => console.log(err)) // use flash
        }
      }))
    })
  </script>
{{ end }}
