{{ template "base" . }}

{{ define "title" }}{{ "Configuration of statuses" | translate }}{{ end }}

{{ define "main" }}
  <p>{{ "List of statuses" | translate }}</p>

  {{ if .Statuses }}
    <ul>
      {{ range .Statuses }}
        <li>
          <span>{{ .Label }}</span>
          <a href=""
            hx-delete="/status/{{ .ID }}"
            hx-confirm='{{ "Are you sure?" | translate }}'
            hx-target="main">
            ({{ "delete" | translate }})
          </a>
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ "No statuses" | translate }}</p>
  {{ end }}

  <a href="/status/new">{{ "New status" | translate }}</a>
{{ end }}
