{{ template "base" . }}

{{ define "title" }}{{ "Guest" | translate }} - {{ .Guest.Name }}{{ end }}

{{ define "main" }}
  <form action="/guests/{{ .Guest.ID }}/edit" method="post">
    <div>
      <label for="name">{{ "Name" | translate }}</label>
      <input type="text" name="name" value="{{ .Guest.Name }}" required />
    </div>
    <div>
      <label for="email">{{ "Email" | translate }}</label>
      <input type="email" name="email" value="{{ .Guest.Email }}" required />
    </div>
    <div>
      <input type="submit" value='{{ "Save" | translate }}' />
    </div>
  </form>
{{ end }}
