{{ define "title" }}{{ "Add a guest" | translate }}{{ end }}

<form action="/guests/new" method="post">
  <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
  {{ with $.Form }}
    <div>
      <label for="name">{{ "Name" | translate }}</label>
      <input type="text" name="name" value='{{ .Get "name" }}' required />
      {{ with .Error "name" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="email">{{ "Email" | translate }}</label>
      <input type="email" name="email" value='{{ .Get "email" }}' required />
      {{ with .Error "email" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <input type="submit" value='{{ "Create" | translate }}' />
    </div>
  {{ end }}
</form>
