{{ define "title" }}{{ "Guest" | translate }} - {{ $.Guest.Name }}{{ end }}

<form action="/guests/{{ $.Guest.ID }}/edit" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf }}">
  {{ with $.Form }}
    <div>
      <label>{{ "Name" | translate }} <span class="text-red-500">*</span></label>
      <input type="text" name="name" value='{{ .Get "name" }}' required />
      {{ with .Error "name" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label>{{ "Email" | translate }} <span class="text-red-500">*</span></label>
      <input type="email" name="email" value='{{ .Get "email" }}' required />
      {{ with .Error "email" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <input type="submit" value='{{ "Save" | translate }}' />
    </div>
  {{ end }}
</form>
