{{ define "title" }}{{ "Guest" | translate }} - {{ .Guest.Name }}{{ end }}

<form action="/guests/{{ .Guest.ID }}/edit" method="post">
  {{ with .Form }}
    <div>
      <label for="name">{{ "Name" | translate }}</label>
      <input type="text" name="name" value='{{ .Get "name" }}' required />
      {{ with .Error "name" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <label for="email">{{ "Email" | translate }}</label>
      <input type="email" name="email" value='{{ .Get "email" }}' required />
      {{ with .Error "email" }}
        <span>{{ . | translate }}</span>
      {{ end }}
    </div>
    <div>
      <input type="submit" value='{{ "Save" | translate }}' />
    </div>
  {{ end }}
</form>
